body {
  background: #ccd5ae;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100vh;
}

.hero {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 600px;
  display: flex;
  background-image: url('books-images/chris-lawton-zvKx6ixUhWQ-unsplash.jpg') !important;
  background-size: cover;
}

.text-content {
  padding-left: 30px;
  align-items: flex-start;
  justify-content: center;
  max-height: 600px;
  width: 30%;
}

h1 {
  font-size: 50px;
}

.hero p {
  font-size: 3vw;
}

.filter-sort {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.filter-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.filter-item {
  flex: 1;
  text-align: center;
}

button:active {
  background-color: blue;
}

.booklist {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: space-around;
}

.book:hover {
  transform: scale(1.1); 
}

.book img {
  width: 100%;
  height: 300px;
  margin-top: 10px;
}

.book {
  flex: 1 1 350px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  background-color: #fefae0;
  margin: 35px;
  max-width: 350px;
}

.booklist button {
  width: max-content;
  align-self: center;
}

.toggle-favorites {
  position: center;
}

.favorites-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
  background-color: #EAB27F;
}

.favorites-sidebar.hidden {
  transform: translateX(100%);
}

.favorites-sidebar:not(.hidden) {
  transform: translateX(0);
}